<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="factoryName" value="RarbgDownloader.RarbgFactory"/>
    <add key="assemblyName" value="RarbgDownloader"/>
    <add key="ok" value="BondageCafe" />
    <add key="Lesbian" value="straight"/>
  </appSettings>
    
</configuration>