<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="genres" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <genres>
    <add key="okname" value="Art-Lingerie,OnlySilkAndSatin,bondagecafe,legsex,japan.domination,divinebitches,onlytease,slimewave,VFAcademy,VintageFlash,1By-Day,ATKGalleria,WhenGirlsPlay,SapphicErotica,AmourAngels,ElectroSluts,PlayboyPlus,DigitalDesire,ALSScan,Stunners,AllGirlMassage,AllWam,AaliyahLove,ALSAngels,Beauty-Angels,Bikiniriot,BrutalDildos,Cosmid,ChicasPlace,CutiesGalore,Defloration,EuroGirlsOnGirls,EveAngelOfficial,EverythingButt,Bizarre.by.Nature,HotLegsAndFeet,ShesAFreak,FootJobAddict,FTVGirls"/>
    <add key="notokname" value="StuffInTwats,Paintoy,BurningAngel,BitchConfessions,BigTitsRoundAsses,BigTitsInSports,BigTitsBoss,BigTitsAtWork,BigNaturals,BigTitsAtSchool,BangBus,BackRoomFacials,BabyGotBoobs,AssTraffic,assparade,AssMasterpiece,AssholeFever,AmateursGoneBad,AmateurAllure,40SomethingMag,21FootArt,18YearsOld,8thStreetLatinas,PUTALOCURA,futilestruggles,yanks,abbywinter,midgetpornpass,girlsoutwest,ultimatesurrender,redlightsextrips,hazeher,Daredorm,Sexy60Plus,lady-sonia,XLGirls,Czechav,nudefightclub,OldYoungLesbianLove,shemadeuslesbians,RawHandicapSex,YourChoiceMovies,xx-cel,CzechCasting,PornstarsAtHome,YoungSexParties,BackroomCastingCouch,MonstersOfCock,Tokyo-hot,YoungLibertines,Meine.Fotze,Meine Fotze,Private.Ficktreffen,allover30,ATKExotics.13.09.22.Daphina,PublicDisgrace,Over40Handjobs,FacialAbuse,twistyshard"/>
      <!--allover30,Anilos,KarupsOW-->
    <!--720p 的过滤问题-->
    <add key="notok" value="ebony,interracial,older&amp;young,public,transsexual,big dicks,hairy,gay"/>
    <add key="ok" value="strapon" />
    <add key="lesbian" value="straight,blowjob"/>
    <add key="nude photography" value="blowjob,straight"/>
    <add key="nylons" value="blowjob,straight"/>
    <add key="footjob" value="straight,blowjob"/>
    <add key="feet" value="straight,blowjob"/>
    <add key="masturbation" value="straight,blowjob"/>
    <add key="domination" value="blowjob"/>
    <add key="stockings" value="straight,blowjob"/>
    <add key="bondage" value="blowjob"/>
    <add key="bdsm" value="blowjob"/>
    <add key="striptease" value="blowjob,straight"/>
    <add key="handjob" value=""/>
  </genres>
  <appSettings>
  <add key="factoryName" value="RarbgDownloader.RarbgFactory"/>
    <add key="assemblyName" value="RarbgDownloader"/>
    
  </appSettings>

<!--4462-->
</configuration>